<div class="row">
  <div class="col-md-10 col-md-offset-1">
    There are <%= services.count.to_i %> services <%= filter %>
    <table border=1 class="table-striped table-condensed sortable-theme-bootstrap" data-sortable id="services">
      <thead>
      <tr>
        <th>Identity</th>
        <th>From</th>
        <th>To</th>
        <th>Arrival</th>
        <th>Departure</th>
        <th>Operator</th>
        <th data-sort-method='dotsep'>Platform</th>
        <th class='no-sort'>Details</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
      <% services.each do |service| %>
          <tr>
            <td><a href="/map/<%= service['serviceUid'] %>/<%= service['runDate'] %>"><%= service['trainIdentity'] %></a></td>
            <td><%= service['locationDetail']['origin'][0]['description'] %></td>
            <td><%= service['locationDetail']['destination'][0]['description'] %></td>
            <td><%= service['locationDetail']['gbttBookedArrival'] %></td>
            <td><%= service['locationDetail']['gbttBookedDeparture'] %></td>
            <td><%= service['atocCode'] %></td>
            <td><%= service['locationDetail']['platform'] %></td>
            <td>
              <a href="http://www.realtimetrains.co.uk/train/<%= service['serviceUid'] %>/<%= Date.parse(service['runDate']).strftime("%Y/%m/%d") %>/advanced">RTT</a>
            </td>
            <td>
              <%= service['serviceType'] unless service['serviceType'] == 'train' %>
              <% unless service['locationDetail']['cancelReasonShortText'].nil? %><span title="<%= service['locationDetail']['cancelReasonLongText'] %>" data-toggle="tooltip" data-placement="right" ><span class="glyphicon glyphicon-warning-sign"></span><%= service['locationDetail']['cancelReasonCode'] %></span><% end %>
            </td>

          </tr>
          </tbody>
      <% end %>
      </table>

    <script>
        new Tablesort(document.getElementById('services'));
    </script>
    <p>Remove the date parameter if you want a bookmark for the current date.</p>
  </div>
</div>